<%= ticket.filename %>
<br />
<% influencers.each do |influencer| %>
  <p><%= influencer.first_name %></p>
  <p><%= influencer.id %></p>
  <br />
  <% orders = Order.where(influencer_id: influencer.id) %>
  <% orders.each do |order| %>
    <p>
      <%= order.order_number %>
    </p>
    <p>
      <%= order.influencer_id %>
    </p>
  <% end %>
  <hr>
<% end %>

<br />
<% line_items.each do |item| %>
  <p> <%= item.title %> </p>
  <p> <%= item.variant_id %> </p>
  <p> <%= item.order_id %> </p>
<% end %>
<%# @orders.each do |order| %>
  <p>
    <%#= order.order_number %>
  </p>
  <p>
    <%# item = LineItem.find_by(order_id: order.id) %>
    <%#= item %>
  </p>
  <br />
<%# end %>
